body{
    background-color: #272B30;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.maincontent{
    width: 100%;
    margin-top: 2%;
}
img{
    width: 100%;
    height: auto;
}
<<<<<<< HEAD
h1{
    color: white;
}
p{
    color: white;
}
p a {
    color: lightgray;
    text-decoration: underline;
}
=======
html{
    font-size: large;
}
>>>>>>> 5ae9318f74bbe3246a75c9dd289843f72583c73b
